# Root ignores
.env
.env.*

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*

# Backend
backend/node_modules
backend/.env
backend/.env.*

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*.log
