# Root ignores
.env
.env.*
!.env.example

# Root dependencies
node_modules

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*
!frontend/.env.example

# Backend
backend/node_modules
backend/.env
backend/.env.*
!backend/.env.example

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/*.log
